<div class="index">

    <h1>Welcome To Gameon....</h1>
    <br>
    <p>An opensource gaming library.</p>
    <br>
    <img src="https://media0.giphy.com/media/VcASvyhKDRDguQ0bHX/giphy.gif">
    <p>Created by: Seth Starr</p>

</div>
